{% extends 'base.html' %}

{% block content %}

    <nav class="headcrumbs">
        <div class="container"><span><a href='/'>Главная</a> / {{ title }}</span></div>
    </nav>

    <section class="all__block1">
        <div class="container"><span class="section__title">Цены на ремонт</span><span class="all__block1__descriptor">Компания «РиалСтрой» оказывает весь спектр строительных и отделочно-ремонтных услуг по доступной цене в Москве. <br>В нашем штате трудятся талантливые дизайнеры и высоко квалифицированные специалисты ремонтных и отделочных работ. <br>Поэтому мы имеем возможность гарантировать качественное выполнение работ и адекватные цены на ремонт квартир. <br>Наша компания профессионально решит задачи любой сложности. При заказе услуги под ключ стоимость ремонта квартиры зависит от выделенного бюджета и пожеланий Заказчика <br><br>Если Вы знаете объемы и виды необходимых для проведения ремонта работ, то инструмент полного расчета для Вас. <br>В этой форме Вы можете детально рассчитать стоимость предстоящих ремонтных работ по нашему прайс-листу, указав их количество напротив вида работ</span>
            <div class="all__block1__block">
                <table>
                    <tr>
                        <th>Вид работ</th>
                        <th>Ед. измерения</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                        <th>Сумма</th>
                    </tr>

                    {% for i in calc %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.v }}</td>
                        <td>
                            <div class="all__input">
                                <input type="number" value="0"/>
                            </div>
                        </td>
                        <td class="per-one">{{ i.price }}</td>
                        <td class="total">0</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>Итого сумма: <span class='sum'>0 руб</span></td>
                        <td> </td>
                        <td> </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

{% endblock %}